<p>Hello {{name}},</p>
<p>Welcome to EngRev</p>
<br />

<p>Please use verification code below to activate your account.</p>
<h2>{{otp}}</h2>
<br />
<p>This code will be expired after <strong>1 hour</strong>.</p>
<p>After one hour from now, your inactivated account will be revoked and you
  need to re-sign up.</p>

<br />
<p>Thanks,</p>
<p>The EngRev Team</p>