<p>Hello {{name}},</p>
<p>Welcome to EngRev</p>
<br />

<p>Please use access this link below to reset your account's password.</p>
<h2>{{reset_link}}</h2>
<br />
<p>This link will be expired after <strong>1 hour</strong>.</p>

<br />
<p>Thanks,</p>
<p>The EngRev Team</p>